<link rel="import" href="/../css/button-style.html">
<dom-module id="Facility-SparePart-OperationLog"> <template>
<px-card chevron>


<style include="button-style">
</style>
<!-- local DOM goes here -->
<section>
	<br>
	<div>
		<form is="iron-form" content-type="application/json" on-iron-form-response="ironformresponse" id="SearchSparePart" method="post">
			<table>
			<tr><td>
			<label class="control-label" style="width: 20px;"><b>Search</b> </label></td>
			<td><paper-input class="paper-input-medium search-query span3" name="searchKey" value="{{searchKey}}" on-input="searchKeyChanged"></td>
			</tr>
			</table>
			<br><br>
			</form>
			</div>
		
			<form is="iron-form" content-type="application/json" on-iron-form-response="ironformresponse"  method="post">
				<div class="module-body pull-left" style="width: 100%">
				<byutv-jsonp id="stockTable" url="http://localhost:8081/pmms-api/getSparePartData" last-response="{{operationLog}}" auto on-response="handleResponse">
				</byutv-jsonp>
				<px-data-table enable-column-resize selectable selected-rows="{{selectedRows6}}" table-data="{{filteredData}}" on-px-row-click="selectedRow">  
			
					<px-data-table-column name="sparePartNo" label="Spare Part No." id="sapreNumber"></px-data-table-column> 
					<px-data-table-column name="name" label="Name" id="spareName"></px-data-table-column>
					<px-data-table-column name="type" label="Type" id="spareType"></px-data-table-column>
					<px-data-table-column name="source" label="Source" id="sapreSource"></px-data-table-column> 
					<px-data-table-column name="measurement" label="Measurement" id="spareMeasurement"></px-data-table-column>
					<px-data-table-column name="price" label="Price" id="sparePrice"></px-data-table-column>
					<px-data-table-column name="stock" label="Stock" id="sapreStock"></px-data-table-column> 
					<px-data-table-column name="safteyStock" label="Saftey Stock" id="sapreSaftyStock"></px-data-table-column> 
					<px-data-table-column name="sysSafteyStock" label="System Saftey Stock" id="sapreSysStock"></px-data-table-column> 				
					<px-data-table-column name="remark" label="Remark" id="sapreRemark"></px-data-table-column> 
					 
				</px-data-table>
	   </div>
	   </form>
	</section>
</px-tab-pages>
</px-card>
</template>

<script>
			Polymer({
			    /* this is the element's prototype */
			    is: 'Facility-SparePart-OperationLog',
			   
			    	ironformresponse:function(){
						
						document.querySelector('Facility-SparePart-OperationLog').refreshData();
					},
				    searchData : function(){
				    	document.getElementById("SearchSparePart").action = "http://localhost:8081/pmms-api/getSearchedData";
						document.getElementById('SearchSparePart').submit(); 
				    },
					 searchKey : null,

					    searchKeyChanged: function (event) {			     
					                this.searchKey = event.target.value;
					                this._refreshTable();
					    },

						handleResponse : function(event) {
							this._refreshTable();
						},
					    
					    _matches: function (jsonObject, searchKey) {
					                for (field in jsonObject) {
					                            var fieldValue = jsonObject[field];

					                            if (fieldValue === Object(fieldValue)
					                                        && this._matches(fieldValue, searchKey)) {
					                                        return true;
					                            } else if (fieldValue && fieldValue.indexOf
					                                        && fieldValue.indexOf(this.searchKey) >= 0) {
					                                        return true;
					                            }                                               
					                }
					                return false;
					    },
					    
					    _refreshTable : function() {                                 
					                var array = [];
					                if (!this.searchKey) {
					                            array = this.operationLog;
					                } else {
					                            for (var i in this.operationLog) {
					                                        var jsonObject = this.operationLog[i];                                                  
					                                        if (this._matches(jsonObject, this.searchKey)) {
					                                                    array.push(jsonObject);
					                                        }                                               
					                            }
					                }
					                
					                this.filteredData = [];
					                this.filteredData = array;
					    } 
			    
			  });
			
			</script>

