<meta charset="utf-8">
<link rel="import" href="/../css/button-style.html">
<dom-module id="operator-check"> <template>
<style include="button-style">
</style>
<!-- local DOM goes here -->
<section>
	<br> <br> <br>
	<div class="pull-left" style="margin-top:-17px">
		<div class="control-group pull-left" style="width: 300px">
			<label class="control-label" style="width: 130px;"> <b>区域/Department:</b>
			</label>



			<div class="controls"
				style="width: 150px; display: inline-block; margin-left: 20px;">
				<byutv-jsonp id="dropdpwndept" 
					url="http://localhost:8081/pmms-api/getDepartmentName"
					last-response="{{factory}}" auto></byutv-jsonp>
				<px-dropdown display-value="--全部 Select --" id="factoryName"
					selected-key="{{deptId}}"> <px-dropdown-content
					extend-dropdown="true" extend-dropdown-by="25"
					max-cont-character-width="5" items="{{factory}}">
				</px-dropdown-content> </px-dropdown>
			</div>

		</div>
		<div class="control-group pull-left" style="width: 300px">
			<label class="control-label" style="width: 130px;"> <b>设备种类/EQType:</b>
			</label>



			


			<div class="controls"
				style="width: 150px; display: inline-block; margin-left: 20px;">
				<byutv-jsonp id="dropdownCategory"
					params='{"Type":"Category"}'
					url="http://localhost:8081/pmms-api/getEquipmentCategory"
					last-response="{{dropdownCategory}}" auto></byutv-jsonp>
				<px-dropdown display-value="--全部 Select --" id="equipCategoryId"
					selected-key="{{equipCategory}}"> <px-dropdown-content
					extend-dropdown="true" extend-dropdown-by="25"
					max-cont-character-width="5" items="{{dropdownCategory}}">
				</px-dropdown-content> </px-dropdown>
			</div>
		</div>
		
		<div class="control-group pull-left" style="margin-left:30px;margin-top:-26px">
		<label class="control-label" style="width: 130px;"> <b>Search:</b></label>

		<div style="width: 200px; display: inline-block; margin-left: 20px;">
			<paper-input floatingLabel id="searchId" value="{{searchKey}}"
				floatingLabel="Search" on-input="searchKeyChanged"></paper-input>
		</div>


	</div>
	</div>

	
	<br> <br>
	<div id="inspectionCheck" class="module-body pull-left"
		style="width: 100%">


		<byutv-jsonp id="inspection"
			url="http://localhost:8081/pmms-api/getInspectionDetails"
			params='{{getParams("IC",deptId,equipCategory)}}'
			on-response="handleResponse" last-response="{{inspectionDetails}}"
			debounce-duration="300" auto="true"></byutv-jsonp>

		<px-data-table id="inspectionTable" selectable
			on-px-row-click="InspectionRowSelected"
			selected-rows="{{mySelectedItems}}" table-data="{{filteredData}}">
		<px-data-table-column name="maintId" label="工单号/WorkOrderNo"></px-data-table-column>		
		<px-data-table-column name="equipId" label="设备编号/EQNumber"></px-data-table-column>
		<px-data-table-column name="status" label="WorkOrderStatus"></px-data-table-column>
		<px-data-table-column name="equipmentInfo.equipNameInfo.deviceName" label="设备名称/EQName"></px-data-table-column>
		<px-data-table-column name ="plannedStartDt" label="维修时间/MaintainanceTime" hide></px-data-table-column>
		<px-data-table-column name="actualStartDt" label="开始时间/StartTime"></px-data-table-column> 
		 <!-- ******************************************************************************************************
	 		--------------------------------- Here start hide column -Kailash--------------------------------------
			****************************************************************************************************** -->
		<px-data-table-column name="id" label="工序/WorkId" hide></px-data-table-column>
		<px-data-table-column name="status" label="Status" hide></px-data-table-column> 
		<px-data-table-column name="maintType" label="MaintainanceType" hide></px-data-table-column>
		<px-data-table-column name="frequency" label="Frequency" hide></px-data-table-column>
		<px-data-table-column name="equipId" label="EquipmentId" hide></px-data-table-column>
		</px-data-table>
		</div>
		<br>
		<form is="iron-form" content-type="application/json" id="InspectionCheckMaintainance"
			on-iron-form-presubmit="ironformpresubmit"
			on-iron-form-response="ironformresponse" method="post">

			<figure class="code u-mb+"
				style="background-color: white; color: black; margin-bottom: 0px;">  <code>
				<label for="SSO"><b>员工编号/SSO*:</b></label>

				<paper-input class="input-medium search-query span3" id="sso"
					name="sso" style="width: 180px;" required auto-validate
					error-message="{{localize('ssoid')}}"> </paper-input>

				<input type="hidden" id="equipId" name="equipId"
					value="{{currentRow.row.equipId.value}}">
				</input>

				<input type="hidden" id="id" name="id"
					value="{{currentRow.row.id.value}}">
				</input>

				<input type="hidden" id="maintId" name="maintId"
					value="{{currentRow.row.maintId.value}}">
				</input>

				<input type="hidden" id="equipName" name="equipName"
					value="{{currentRow.row.equipName.value}}">
				</input>

				<input type="hidden" id="maintType" name="maintType"
					value="{{currentRow.row.maintType.value}}">
				</input>
				<input type="hidden" id="createdDt" name="createdDt"
					value="{{currentRow.row.createdDt.value}}">
				</input>
				<input type="hidden" id="createdBy" name="createdBy"
					value="{{currentRow.row.createdBy.value}}">
				</input>

				<input type="hidden" id="status" name="status" value="{{status}}">


				<input type="hidden" id="mainArrString" name="mainArrString"
					value="{{maintainanceArr}}">
					
				<input type="hidden" id="maintItemId" name="maintItemId"
					value="{{maintItemId}}">
					

				<br>

				<br>
				<br>


				<div id="inspectionResultData" class="hide">
					<byutv-jsonp
						url="http://localhost:8081/pmms-api/getInspectionCheckInfoDetails"
						params='{{getMaintId(maintId)}}'
						last-response="{{inspectionData}}" debounce-duration="300"
						auto="true"></byutv-jsonp>
 			<!-- ******************************************************************************************************
	 		-----------------On-click table starts from here -  Kailash----------------------------
			****************************************************************************************************** -->
					<px-data-table id="inspectionResultsData" enable-column-reorder
						hide-pagination-control table-data="{{inspectionData}}">
					<px-data-table-column name="seqNumber" label="Sequence Number"></px-data-table-column>
					<px-data-table-column name="maintId" label="工序/WorkSequence" hide></px-data-table-column>
					<px-data-table-column name="maintItemId" label="维护项/MaintainanceItem"></px-data-table-column> 
					<px-data-table-column name="location" label="单元/Section"></px-data-table-column> 
					<px-data-table-column name="maintItem" label="内容/WorkContent"></px-data-table-column>
					<px-data-table-column name="frequency" label="频率/天/Frequency/Day"></px-data-table-column>
					<px-data-table-column name="spendTime" label="用时/分钟/SpendTime" editable></px-data-table-column> 
					<px-data-table-column name="scanValue" label="扫描值/ScanValue" editable></px-data-table-column>
					
					 <!-- ******************************************************************************************************
	 		--------------------------------- Here start another hide column -Kailash--------------------------------------
			****************************************************************************************************** -->
					<px-data-table-column name="workSequence" label="workSequence" hide></px-data-table-column>
					<px-data-table-column name="id" label="id" hide></px-data-table-column>
					<px-data-table-column name="maintId" label="maintId" hide></px-data-table-column>
					<px-data-table-column name="createdDt" label="createdDt" hide></px-data-table-column>
					<px-data-table-column name="maintType" label="maintType" hide></px-data-table-column>
					<px-data-table-column name="createdBy" label="createdBy" hide></px-data-table-column>
					</px-data-table>
				</div>
				<br>
				<br>
				<table>
					<tr>
						<td style="align: center">
						<paper-button raised on-click="startMaintainance" id="operatorCheckStartButton" class="btn btn-large btn-primary" disabled>
							开始维修/Start
						</paper-button></td>
						<td style="align: center"><paper-button raised  id="operatorCheckCloseButton" 
								on-click="closeMaintainance" class="btn btn-large btn-primary" disabled>
							结束维修/Close</paper-button></td>
						<td style="align: center"><paper-button raised  id="operatorCheckSaveButton" 
								on-click="saveMaintainance" class="btn btn-large btn-primary" disabled>
							保存/Save</paper-button></td>

					</tr>
							</table>
						</code>
			</figure>
		</form>

</section>

</template> <script>
	Polymer({
		/* this is the element's prototype */
		is : 'operator-check',
		behaviors : [ PmmsBehaviors.LanguageBehavior ],

		searchKey : null,

		properties : {

			currentRow : {
				type : Object,
				notify : true,
				value : function() {
					return {};
				}
			},
			maintId : {
				type : String,
				notify : true
			},

			status : {
				type : String,
				notify : true
			},
			maintainanceArr : {
				type : Array,
				notify : true
			}

		},

		ironformresponse:function(e) {
			
			var equipIssueObject = {};
			var inspectionResultsData = document.getElementById("inspectionResultsData");
			var length = inspectionResultsData.__data__.tableData.length;
			var notOK_Flag = false;
			equipIssueObject.requestorSSO = e.srcElement[7].defaultValue;
			equipIssueObject.inspectionWoId = e.srcElement[3].defaultValue;
			equipIssueObject.inspectionSSO = e.currentTarget["0"].__data__.bindValue;
			equipIssueObject.inspectionEquipId = e.currentTarget[1].defaultValue;
			equipIssueObject.inspectionStatus = "未开始";
			
			for (var i = 0; i < length; i++) {
				var scanValue = inspectionResultsData.__data__.tableData[i]['scanValue'];
				if(scanValue!= null){
				if(!notOK_Flag && scanValue.substring(scanValue.length-2) == "01")
					{
						notOK_Flag =true;
						break;
					}
				}
			}
			 if(notOK_Flag)
				{
				
				  $.ajax({
				      type: "POST",
				      contentType : 'application/json; charset=utf-8',
				      dataType : 'json',
				      url: "http://localhost:8081/pmms-api/autoEquipmentIssueCreation",
				      data: JSON.stringify(equipIssueObject), // Note it is important
				      success :function(result) {
				    	 if(result.status == true){
				    		 alert(result.data);
				    		 return;
						}
				    }
				  }); 
				
				} 
		/* 	if(e.detail.__data__.response.status.value="进行中")
				{
					alert("It had been Started successfully");
					document.getElementById("InspectionCheckMaintainance").classList.remove('hide');
					this.$.inspection.generateRequest();
				}  */
			/*  else if(e.detail.__data__.response.status.value="关闭")
				{
					alert("It had been Closed successfully");
					document.getElementById("InspectionCheckMaintainance").classList.remove('hide');
					this.$.inspection.generateRequest();
				}*/		
			/* else
				{
					alert("There was an issue in processing your data. Please try again with valid data.");
				} */

			/* Priyanka - added below 3 line to refresh table after start or close action is taken*/
			 this.$.inspection.generateRequest();
			 document.getElementById("operatorCheckStartButton").disabled = true;
			 document.getElementById("operatorCheckCloseButton").disabled = true;
			 var ssoValue = document.getElementById("sso").value = "";
		}, 
		getMaintId : function(maintId) {
			return {
				maintId : maintId
			};
		},

		getParams : function(maintType, deptId, equipCategory) {
			return {
				maintType : "IC",
				deptId : deptId,
				equipCategory : equipCategory

			};
		},

		searchKeyChanged : function(event) {
			this.searchKey = event.target.value;
			this._refreshTable();
		},

		handleResponse : function(event) {
			this._refreshTable();
		},

		_matches : function(jsonObject, searchKey) {
			for (field in jsonObject) {
				var fieldValue = jsonObject[field];

				if (fieldValue === Object(fieldValue)
						&& this._matches(fieldValue, searchKey)) {
					return true;
				} else if (fieldValue && fieldValue.indexOf
						&& fieldValue.indexOf(this.searchKey) >= 0) {
					return true;
				}
			}
			return false;
		},

		_refreshTable : function() {
			var array = [];
			if (!this.searchKey) {
				array = this.inspectionDetails;
			} else {
				for ( var i in this.inspectionDetails) {
					var jsonObject = this.inspectionDetails[i];
					if (this._matches(jsonObject, this.searchKey)) {
						array.push(jsonObject);
					}

				}
			}

			this.filteredData = [];
			this.filteredData = array;
		},

		InspectionRowSelected : function(e) {
			var clickedRow = e.detail.row;
			this.currentRow = clickedRow;
			this.maintId = this.currentRow.row.maintId.value;

			if (!clickedRow._selected) {
				document.getElementById("inspectionResultData").classList
						.remove('hide');
			} else {
				document.getElementById("inspectionResultData").classList
						.add('hide');
			}
			
			if(!clickedRow._selected){
		  		
				document.getElementById("sso").value="";
				var statusOfOperatorCheckWorkorder = clickedRow.row.status.value;

  				if (statusOfOperatorCheckWorkorder == null || statusOfOperatorCheckWorkorder == "未开始" || statusOfOperatorCheckWorkorder == "") {
  					document.getElementById("operatorCheckStartButton").disabled = false;
  				} else {
  					document.getElementById("operatorCheckStartButton").disabled = true;
  				}

  				if (statusOfOperatorCheckWorkorder == "进行中") {
  					document.getElementById("operatorCheckCloseButton").disabled = false;
  					document.getElementById("operatorCheckSaveButton").disabled = false;
  				} else {
  					document.getElementById("operatorCheckCloseButton").disabled = true;
  					document.getElementById("operatorCheckSaveButton").disabled = true;

  				}
  				
	  		}else{
	  			document.getElementById("operatorCheckStartButton").disabled = true;
		  		document.getElementById("operatorCheckCloseButton").disabled = true;

		  		document.getElementById("WONO").value="";
		  		document.getElementById("EQSN").value="";
		  		document.getElementById("SSOPM").value="";
		  		document.getElementById("sso").value="";
	  		}
	  		
			
			
		},

		startMaintainance : function() {
			/* var selectedRowArray = document.getElementById("inspectionTable").selectedRows;
			
			if(selectedRowArray.length > 1)
			{
				alert("Please select only one work order for operation.");
				return;
			} */
			
			var inspectionResultsData = document.getElementById("inspectionResultsData");

			var length = inspectionResultsData.__data__.tableData.length;
			var inspectArr = [];
			var ssoValue = document.getElementById("sso").value;
			if(ssoValue != "")
			{
				var isValid = this.isValidSSO(ssoValue);
				if(isValid){
					for (var i = 0; i < length; i++) {
						var inspectionArr = [				      
								this.maintItemId = inspectionResultsData.__data__.tableData[i]['maintItemId'],
								this.scanValue = inspectionResultsData.__data__.tableData[i]['scanValue'],
								this.spendTime = inspectionResultsData.__data__.tableData[i]['spendTime'],
								this.maintId = inspectionResultsData.__data__.tableData[i]['maintId'],
								this.id = inspectionResultsData.__data__.tableData[i]['id'],
								this.createdDt = inspectionResultsData.__data__.tableData[i]['createdDt'],
								this.frequency = inspectionResultsData.__data__.tableData[i]['frequency'],
								this.sso = this.sso = ssoValue
	
						];
						inspectArr.push(inspectionArr);
	
					}
					this.status = "进行中";
					this.maintainanceArr = inspectArr;
					document.getElementById("InspectionCheckMaintainance").action = "http://localhost:8081/pmms-api/startInspectionCheckDetails";
					document.getElementById('InspectionCheckMaintainance').submit();
					alert("Operator inspection has been Started successfully");
					document.getElementById("operatorCheckStartButton").disabled = true;
				//this.$.inspection.generateRequest();
			
				}
			}
			else
			{
				alert("Please provide the Spare parts inventory Secure SSO id.");
			}
			document.getElementById("inspectionResultData").classList.add('hide');
			this.$.inspection.generateRequest();
		},

		closeMaintainance : function() {
		/* var selectedRowArray = document.getElementById("inspectionTable").selectedRows;
			
			if(selectedRowArray.length > 1)
			{
				alert("Please select only one work order for operation.");
				return;
			} */
			var inspectionResultsData = document.getElementById("inspectionResultsData");

			var length = inspectionResultsData.__data__.tableData.length;
			var inspectArr = [];
			
			var ssoValue = document.getElementById("sso").value;
			if(ssoValue != "" )
			{
				var isValid = this.isValidSSO(ssoValue);
				if(isValid){
					for (var i = 0; i < length; i++) {
						var inspectionArr = [				      
								this.maintItemId = inspectionResultsData.__data__.tableData[i]['maintItemId'],
								this.scanValue = inspectionResultsData.__data__.tableData[i]['scanValue'],
								this.spendTime = inspectionResultsData.__data__.tableData[i]['spendTime'],
								this.maintId = inspectionResultsData.__data__.tableData[i]['maintId'],
								this.id = inspectionResultsData.__data__.tableData[i]['id'],
								this.createdDt = inspectionResultsData.__data__.tableData[i]['createdDt'],
								this.frequency = inspectionResultsData.__data__.tableData[i]['frequency'],
								this.sso = this.sso = ssoValue
						];
						inspectArr.push(inspectionArr);
	
					}
					this.status = "关闭";
					this.maintainanceArr = inspectArr;
					document.getElementById("InspectionCheckMaintainance").action = "http://localhost:8081/pmms-api/closeInspectionCheckDetails";
	
					document.getElementById('InspectionCheckMaintainance').submit();
					alert("Operator inspection has been Closed successfully");
					document.getElementById("operatorCheckCloseButton").disabled = true;
				}
			}
			else
			{
				alert("Please provide vaild SSO id.");
			}
			document.getElementById("inspectionResultData").classList.add('hide');
			this.$.inspection.generateRequest();
		},

		saveMaintainance : function() {
			var selectedRowArray = document.getElementById("inspectionTable").selectedRows;
			
			if(selectedRowArray.length > 1)
			{
				alert("Please select only one work order for operation.");
				return;
			}
			var inspectionResultsData = document.getElementById("inspectionResultsData");
			var length = inspectionResultsData.__data__.tableData.length;
			var inspectArr = [];
			var ssoValue = document.getElementById("sso").value;
			if(ssoValue != "")
			{
				var isValid = this.isValidSSO(ssoValue);
				if(isValid){
					for (var i = 0; i < length; i++) {
						var inspectionArr = [						
								this.maintItemId = inspectionResultsData.__data__.tableData[i]['maintItemId'],
								this.scanValue = inspectionResultsData.__data__.tableData[i]['scanValue'],
								this.spendTime = inspectionResultsData.__data__.tableData[i]['spendTime'],
								this.maintId = inspectionResultsData.__data__.tableData[i]['maintId'],
								this.id = inspectionResultsData.__data__.tableData[i]['id'],
								this.createdDt = inspectionResultsData.__data__.tableData[i]['createdDt'],
								this.frequency = inspectionResultsData.__data__.tableData[i]['frequency'],
								this.sso = ssoValue
	
						];
						inspectArr.push(inspectionArr);
	
					}
					this.status = "进行中";
					this.maintainanceArr = inspectArr;
					document.getElementById("InspectionCheckMaintainance").action = "http://localhost:8081/pmms-api/saveInspectionCheckDetails";
					document.getElementById('InspectionCheckMaintainance').submit();
					
					alert("Operator inspection data has been Saved successfully");
					this.$.inspection.generateRequest();
					document.getElementById("inspectionResultData").classList.add('hide');
				}
				else{
					alert("Operator inspection data has been failed");
				}
			}
			else
			{
				alert("Please provide  SSO id.");
			}
			//document.getElementById("operatorCheckSaveButton").disabled = true;
		},
		
		isValidSSO : function (ssoValue){
			var resp = false;
			$.ajax({
				method  : 'POST',
				url     : 'http://localhost:8081/pmms-api/isValidMaintainanceSSO',
				data    :  'sso='+ssoValue,
				async: false,
				error : function (status) {
					alert("Your operation failed");
					resp= false;
				},
				success: function(data) {
					if(data.data=="SUCCESS")
						{
							resp= true;
						}
					else if(data.data=="FAIL")
						{
							alert("Please provide vaild SSO id.");
							resp= false;
							document.getElementById("sso").value= "";
						}
				}
			});
			return resp;
		}

	});
</script> </dom-module>